<!Doctype html>
<html  ng-app="blogApp" lang="en" ng-controller="CChefCtrls">
<head>
	<meta charset="utf-8">
	<title> {{pagename}}</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/lightanim.css">
	<script src="bower_components/angular/angular.js"></script>	
	<script src="bower_components/angular-route/angular-route.js"></script>	

<!--	<script src="js/angular.js"></script> -->
</head>
<body ng-controller="blogControllers">
	<div class="page animated fadeIn">
		<nav-bar info="nav" class="navbar" role="banner"></nav-bar>
		<!-- navbar ends -->
		<!-- <blog-banner info="blog1"></blog-banner> -->
		<hero-banner info="author" class="hero-banner"></hero-banner>
		<!-- Hero Poster Ends -->
		<section class="container" role="blog content">
			<main class="main z-depth border">
				<ul class="breadcrumb">
					<li data-ng-repeat="crumbs in breads"> {{ crumbs }} </li>
				</ul>
				<!-- {{ blogParagraphs }} -->
			</main>
			<!-- End of Main -->
			<!-- sidebar starts -->
			<aside class="sidebar sm-hide">
				<div class="widget border">
					<p>Contents</p>
					<ul class="index-list">
						<li data-ng-repeat="topic in topics">{{topic}}</li>
					</ul>
				</div>
				<div class="border widget-sm" role="comments">
					<p data-num="89"> comments</p>
					<div class="btn" data-toggle-id="commentModal" id="comBtn" >View Comments
					</div>
				</div>
				<div class="border widget-sm">
					<p>Quiz of Today</p>
					<div class="btn">View Quiz</div>
				</div>
				<div class="border widget-sm" id="user-widget">
					<p>Hey tell us more about you !</p>
					<input type="text" id="user-name" placeholder="Name">
					<input type="text" id="user-domain" placeholder="Domain">
					<div class="btn" id="user-save">Save Details</div>
				</div>
			</aside>
		</section>
		<!-- .main blog container ends -->
		<!-- <p class="posts-text">Read these latest articles<br></p> -->
		<section class="posts-card">
			<div class="card-details border" ng-repeat="post in posts | orderBy : 'date'">
				<div class="img-container">
					<img ng-src=" {{post.imgsrc}} ">
					<div class="overlay">
						<div class="caption">
							<a ng-href="{{post.link}}">View</a>
						</div>
					</div>
				</div>
				<p>{{post.title}} ({{post.date | date}})</p>
			</div>
		</section>
		<blog-footer info="footer" class="footer bg-dk-purple"></blog-footer>
		<div class="modal" id="commentModal">
			<span class="closeModal icon-cross"></span>
		</div>
	</div>
	<!-- Page ends -->

	<!-- Scripts -->
	<script type="text/javascript" src="js/main.js"></script> 

	<!-- Modules -->
	<script src="js/app.js"></script>

	<!-- Controllers -->
	<script src="js/controllers.js"></script>

	<!-- Directives -->
	<script src="js/directives.js"></script>


	<!-- Factories -->

	<script src="js/factories.js"></script>

	<!--
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
	<script src="js/routes.js"></script>
	
	-->
</body>
</html>