<div class="brand-details">
	<a href="http://hackncs.com/"><h3>&copy; Nibble Computer Society</h3></a>
	<div class="social-bar">
		<span class=" icon-facebook"></span>
		<span class=" icon-google-plus"></span>
		<span class=" icon-github"></span>
	</div>
</div>
<div class="subscribe">
	<form action="">
		<input type="email" placeholder="Never miss any updates .">
		<!-- Trick : use autofocus in input to scroll to that on reload -->
		<div class="submit"><h3>Subscribe</h3></div>
	</form>
</div>
<div class="posts-list txt-orange">
	<!-- <h4 class="txt-orange"></h4> -->
	<div class="post web center " role=" frontend , web news ">
		<h5 class="txt-orange">Web</h5>
		<div class="tag-box">
			<p>
				<span class="tags">how to use web cam</span>
				<span class="tags">css flexbox</span>
				<span class="tags">css triangles</span>
				<span class="tags">getting started</span>
				<span class="tags">cross browser</span>
				<span class="tags">animations</span>
			</p>
		</div>
	</div>
	<div class="post server" role=" backend ">
		<h5 class="txt-orange">Server Side</h5>
		<div class="tag-box">
			<p>
				<span class="tags">how to use web cam</span>
				<span class="tags">css flexbox</span>
				<span class="tags">css triangles</span>
				<span class="tags">getting started</span>
				<span class="tags">cross browser</span>
				<span class="tags">animations</span>
			</p>
		</div>
	</div>
	<div class="post prog" role=" programming tricks ">
		<h5 class="txt-orange">Programming</h5>
		<div class="tag-box">
			<p>
				<span class="tags">how to use web cam</span>
				<span class="tags">css flexbox</span>
				<span class="tags">css triangles</span>
				<span class="tags">getting started</span>
				<span class="tags">cross browser</span>
				<span class="tags">animations</span>
			</p>
		</div>
	</div>
	<div class="post design" role=" design inspiration , photoshop dos , etc">
		<h5 class="txt-orange">Design</h5>
		<div class="tag-box">
			<p>
				<span class="tags">how to use web cam</span>
				<span class="tags">css flexbox</span>
				<span class="tags">css triangles</span>
				<span class="tags">getting started</span>
				<span class="tags">cross browser</span>
				<span class="tags">animations</span>
			</p>
		</div>
	</div>
</div>
