<div class="border widget-sm" role="comments">
	<p data-num="89"> comments</p>
	<div class="btn modalBtn" data-toggle-id="commentModal">View Comments
	</div>
</div>
<div class="border widget-sm">
	<p>Ads</p>
	<div class="btn modalBtn" data-toggle-id="adModal">Link To Ad</div>
</div>
<div class="border widget-sm">
	<p>Quiz of Today</p>
	<div class="btn modalBtn" data-toggle-id="quizModal">View Quiz</div>
</div>
<div class="border widget-sm" id="user-widget">
	<p>Hey tell us more about you !</p>
	<input type="text" id="user-name" placeholder="Name">
	<input type="text" id="user-domain" placeholder="Domain">
	<div class="btn" id="user-save">Save Details</div>
</div>